In [1]:
## import libraries
import pandas as pd

In [2]:
## import insurance missing values
imv = pd.read_csv("https://raw.githubusercontent.com/daidriannn/wrongfully-uninsured/main/insurance-missing-values.csv")
imv

      age  gender     bmi  children smoker     region       charges
0      63  female  36.850       0.0     no  southeast   13887.96850
1      28    male  37.100       1.0     no  southwest    3277.16100
2      33    male  35.245       0.0     no  northeast   12404.87910
3      41    male  30.780       3.0    yes  northeast   39597.40720
4      34    male  27.000       2.0     no  southwest   11737.84884
...   ...     ...     ...       ...    ...        ...           ...
1363   88    male  23.760       0.0    yes  southeast  126926.51440
1364   49  female  22.610       1.0     no  northwest    9566.99090
1365   52  female  33.300       2.0     no  southwest   10806.83900
1366   29  female  25.900       0.0     no  southwest    3353.28400
1367   38  female  19.475       2.0     no  northwest    6933.24225

[1368 rows x 7 columns]

In [3]:
## insurance missing values
## upload data context

imv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1368 non-null   int64
 1   gender    1368 non-null   object
 2   bmi       1357 non-null   float64
 3   children  1366 non-null   float64
 4   smoker    1366 non-null   object
 5   region    1368 non-null   object
 6   charges   1341 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 74.9+ KB

In [4]:
imv.age

0       63
1       28
2       33
3       41
4       34
        ..
1363    88
1364    49
1365    52
1366    29
1367    38
Name: age, Length: 1368, dtype: int64

In [5]:
imv.gender

0       female
1         male
2         male
3         male
4         male
         ...
1363      male
1364    female
1365    female
1366    female
1367    female
Name: gender, Length: 1368, dtype: object

In [6]:
imv["bmi"]

0       36.850
1       37.100
2       35.245
3       30.780
4       27.000
         ...
1363    23.760
1364    22.610
1365    33.300
1366    25.900
1367    19.475
Name: bmi, Length: 1368, dtype: float64

In [7]:
imv["children"]

0       0.0
1       1.0
2       0.0
3       3.0
4       2.0
       ...
1363    0.0
1364    1.0
1365    2.0
1366    0.0
1367    2.0
Name: children, Length: 1368, dtype: float64

In [8]:
## create dataset that includes age, gender, and region

x = imv[["age","gender","region"]]
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     1368 non-null   int64
 1   gender  1368 non-null   object
 2   region  1368 non-null   object
dtypes: int64(1), object(2)
memory usage: 32.2+ KB